<h1> <%= @team.name %> </h1>
<br>
<p> <%= @team.name %>'s mascot is <%= @team.mascot %> </p>
<p> <%= @team.name %> was founded <%= @team.founded %> </p>
<br>
<%= image_tag(@team.image, alt: 'No image', width:200) %>