<h1> <%= @player.player_name %> </h1>
<br>
<p> <%= @player.player_name %>'s position is <%= @player.position %> </p>
<p> <%= @player.player_name %>'s number is <%= @player.player_number %> and they have caught the snitch <%= @player.snitch_catch_count %> times. </p>
<% if @player.team_id == nil %>
    <p><%= @player.player_name %> thinks they're far too good to play for a team.</p>
    <% else %>
    <p><%= @player.player_name %> plays for <%= @team.name %> </p>
<% end %>
<br>